.container {
  position: fixed;
  bottom: 16px;
  right: 8px;
  background-color: #3498db;
  padding: 16px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.arrow {
  left: 0%;
  top: 0%;
  transform: rotate(-45deg);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
