.container {
  display: flex;
  gap: 6px;
  padding: 6px;
  flex-wrap: wrap;
}

.chipText {
  text-transform: capitalize;
}

.chip {
  background-color: red;
  padding: 4px;
  border-radius: 6px;
}

.active {
  background-color: #6b0808;
}
