.content {
  margin-top: 8px;
}

.container {
  border: 1px solid rgba(0, 0, 0, 0.356);
  margin-bottom: 12px;
  padding: 6px;
  border-radius: 8px;
  font-size: 12px;
}

.container :last-child {
  margin-bottom: 0px;
}
