.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 20px;
}

.image {
  height: auto;
  width: 200px;
  border-radius: 16px;
}

.leftSection {
  height: auto;
  width: 200px;
  border-radius: 16px;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightSection span {
  font-weight: bold;
  margin-left: 6px;
}

.title {
  margin: 8px 0;
}

.rating {
  display: flex;
  align-items: center;
}

@media (width <= 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }

  .leftSection {
    width: 100%;
  }

  .image {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
